body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

#header {
  text-align: center;
}

#flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dice {
  width: 100%;
}

button {
  margin: 20px 40% 0 40%;
  width: 20%;
  height: 30px;
}