/* based on http://www.csszengarden.com/214/ */

@font-face {
    font-family: julius;
    src: url(JuliusSansOne-Regular.ttf);
}
@font-face {
    font-family: baskerville;
    src: url(LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: baskervilleI;
    src: url(LibreBaskerville-Italic.ttf);
}

body {
    color: #325050;
    background: #fff;
    font-family: baskerville;
    margin: 0;
}

.fakeLink {
    border-bottom: 1px dashed #325050;
    
}

.italics {
    font-family: baskervilleI;
    letter-spacing: 1px;
}

@media only screen and (min-width: 1190px) {
    #box5Mobile, #box6Mobile {
        display: none;
    }

    #grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6);
    }

    #header {
        grid-column: 1 / -1;
        display: grid;
        min-height: 310px;
        grid-template-columns: repeat(3, 1fr);
        background-image: url("header-styling-1.png"), url("header-styling-2.png"), url("header-styling-3.png"), url("header-background.jpg");
        background-size: 50% auto, auto, auto, cover;
    }
    #box1 {
        grid-column: 1 / 3;
    }
    #paintStroke {
        height: 125px;
        width: 125px;
        position: relative;
        display: inline-block;
        margin: 80px 40px 0 80px;
    }
    #box1 > div {
        display: inline-block;
        position: absolute;
        margin: 95px 0px 0px 0px;
    }
    #box1 > div > h1 {
        font-size: 60px;
        margin: 0px 0px -20px -5px;
        color: white;
        font-family: julius;
        font-weight: lighter;
    }
    #box1 > div > h2 {
        font-size: 30px;
        color: #b6c7c3;
        font-weight: lighter;
    }

    #dark {
        background-color: #134347;
        opacity: 0.2;
        width: 33.3%;
        position: absolute;
        min-height: 310px;
    }
    #menuBackground {
        background-color: lightgrey;
        opacity: 0.2;
        width: 15%;
        position: absolute;
        display: inline;
        margin: 115px 0 0 6.8%;
        color: white;
        height: 60px;
    }
    #arrowContainer {
        background-color: lightgrey;
        opacity: 0.2;
        position: absolute;
        display: inline;
        margin: 115px 0 0 22%;
        color: white;
        width: 6%;
        height: 60px;
    }
    
    #box2 > h2 {
        color: white;
        font-family: julius;
        font-weight: lighter;
        word-spacing: -5px;
        width: 15%;
        position: absolute;
        font-size: 20px;
        margin: 135px 0 0 8%
    }
    #box2 > h1 {
        margin: 92px 0 0 23.7%;
        font-size: 100px;
        color: white;
        font-family: julius;
        word-spacing: -5px;
        width: 4%;
        position: absolute;
    }

    #box3 {
        grid-column: 1 / 3;
        background-color: white;
        padding: 7% 7% 0 15%;
    }
    #box3 > p {
        line-height: 40px;
    }
    #box3 > h1 {
        font-family: julius;
        margin: 30px 0 -10px 0;
        font-weight: lighter;
    }

    #box4 {
        background-color: #e5ede8;
        padding: 17% 0 0 15%;
    }
    #box4 > div > hr {
        width: 60%;
        margin: 30px 0 30px 0;
        opacity: 30%;
    }
    .styles {
        width: 50%;
    }
    .styles > h1 {
        font-family: julius;
        font-size: 20px;
        margin-bottom: -10px;
        font-weight: lighter;
    }
    .styles > p > span {
        color: #b6c7c3
    }

    
    #middle {
        grid-column: 1 / -1;
        display: grid;
        min-height: 310px;
        grid-template-columns: repeat(3, 1fr);
        background-image: url("header-styling-1.png"), url("middle-left-color.png"), url("header-styling-3.png"), url("middle-background.png");
        background-size: auto, cover, auto, cover;
    }
    #box5 {
        grid-column: 1 / 3;
        padding: 7% 7% 7% 15%;
    }
    
    #box5 > p {
        line-height: 40px;
    }
    #box5 > h1 {
        font-family: julius;
        margin: 30px 0 -10px 0;
        font-weight: lighter;
    }

    #box6 {
        padding: 17% 0 0 15%;
    }
    #box6 > hr {
        width: 60%;
        margin: 30px 0 30px 0;
        opacity: 30%;
    }

    #box7 {
        grid-column: 1 / 3;
        padding: 7% 7% 7% 15%;
    }
    #box7 > p {
        line-height: 40px;
    }
    #box7 > h1 {
        font-family: julius;
        margin: 30px 0 -10px 0;
        font-weight: lighter;
    }

    #box8 {
        background-color: #e6eee9;
    }
    #box9 {
        grid-column: 1 / -1;
        min-height: 310px;
        background-image: url("header-styling-1.png"), url("header-styling-2.png"), url("header-styling-3.png"), url("footer-background.jpg");
        background-size: auto, auto auto, cover;
        text-align: center;
    }
    #box9 > h1 {
        color: white;
        font-family: baskerville;
        width: 54%;
        line-height: 65px;
        margin: 6% 23% 5% 23%;
        font-weight: lighter;
    }
    #box9 > h1 > span {
        color: #b6c7c3;
    }

    #box10 {
        grid-column: 1 / -1;
        background-color: #134347;
        display: flex;
        justify-content: center;
    }
    #box10 > img {
        width: 75px;
        height: 75px;
        margin: 4% 3% 4% 3%;
    }
}

@media only screen and (max-width: 1189px) {
    #grid {
        display: grid;
        grid-template-rows: repeat(8);
        width: 100%;
    }
    #header {
        grid-row: 1 / 2;
        min-height: 230px;
        background-image: url("header-styling-1.png"), url("header-styling-2.png"), url("header-styling-3.png"), url("header-background.jpg");
        background-size: 50% auto, auto, auto, cover;
    }
    #box1 {
        grid-column: 1 / 3;
    }
    #paintStroke {
        height: 75px;
        width: 75px;
        position: relative;
        display: inline-block;
        margin: 40px 20px 0 25%;
    }
    #box1 > div {
        display: inline-block;
        position: absolute;
        margin: 45px 0px 0px 0px;
    }
    #box1 > div > h1 {
        font-size: 40px;
        margin: 15px 0px 15px 0;
        color: white;
        font-family: julius;
        font-weight: lighter;
    }
    #box1 > div > h2 {
        font-size: 18px;
        color: #b6c7c3;
        font-weight: lighter;
        margin-left: 60px;

    }
    #box1 > div> h2 > span > span {
        border-bottom: 1px dashed #b6c7c3;
    }
    #menuBackground {
        background-color: lightgrey;
        opacity: 0.2;
        width: 93%;
        position: absolute;
        display: inline;
        margin: 50px 0 0 0;
        color: white;
        height: 60px;
    }
    #arrowContainer {
        background-color: lightgrey;
        opacity: 0.2;
        position: absolute;
        display: inline;
        margin: 50px 0 0 93%;
        color: white;
        width: 7%;
        height: 60px;
    }
    #box2 > h2 {
        color: white;
        font-family: julius;
        font-weight: lighter;
        word-spacing: -5px;
        width: 30%;
        position: absolute;
        font-size: 18px;
        margin: 70px 0 0 43%;
    }
    #box2 > h1 {
        margin: 28px 0 0 94%;
        font-size: 100px;
        color: white;
        font-family: julius;
        word-spacing: -5px;
        width: 4%;
        position: absolute;
    }


    #box3 {
        background-color: white;
        padding: 2% 10% 0 10%;
        grid-row: 2 / 3;
    }
    #box3 > p {
        line-height: 30px;
        font-size: 13.4px;
    }
    #box3 > h1 {
        font-family: julius;
        margin: 30px 0 -10px 0;
        font-weight: lighter;
        font-size: 25px;
    }

    #box5, #box6 {
        display: none;
    }

    #box5Mobile {
        grid-row: 3 / 4;
        padding: 2% 10% 2% 10%;
        background-image: url("middle-left-color-smaller-breakpoint.png"), url("header-styling-1.png"), url("header-styling-3.png"), url("middle-background.png");
        background-size: cover, auto, auto, cover;
    }
    
    #box5Mobile > p {
        line-height: 30px;
        font-size: 13.4px;
    }
    #box5Mobile > h1 {
        font-family: julius;
        margin: 30px 0 -10px 0;
        font-weight: lighter;
        font-size: 25px;
    }

    #box7 {
        grid-row: 4 / 5;
        padding: 2% 10% 2% 10%;
    }
    #box7 > p {
        line-height: 30px;
        font-size: 13.4px;
    }
    #box7 > h1 {
        font-family: julius;
        margin: 30px 0 -10px 0;
        font-weight: lighter;
        font-size: 25px;
    }

    #box9 {
        grid-row: 5 / 6;
        background-image: url("header-styling-1.png"), url("header-styling-2.png"), url("header-styling-3.png"), url("footer-background.jpg");
        background-size: auto, auto auto, cover;
        text-align: center;
    }
    #box9 > h1 {
        color: white;
        font-family: baskerville;
        width: 75%;
        line-height: 65px;
        margin: 6% 12.5% 5% 12.5%;
        font-weight: lighter;
        font-size: 25px;
    }
    #box9 > h1 > span {
        color: #b6c7c3;
    }

    #box10 {
        grid-row: 6 / 7;
        background-color: #134347;
        display: flex;
        justify-content: center;
    }
    #box10 > img {
        width: 60px;
        height: 60px;
        margin: 4% 3% 4% 3%;
    }

    #box4 {
        grid-row: 7 / 8;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #e5ede8;
        padding: 2% 0 2% 10%;
        
    }
    #box4 > div > hr {
        width: 160%;
        margin-left: -300px;
        opacity: 30%;
    }
    .styles {
        width: 100%;
    }
    .styles > h1 {
        font-family: julius;
        font-size: 18px;
        margin-bottom: -10px;
        font-weight: lighter;
    }
    .styles > p {
        font-size: 13px;
    }
    .styles > p > span {
        color: #b6c7c3
    }
    
    #box6Mobile {
        grid-row: 8 / 9;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2% 0 2% 10%;
        background-image: url("middle-left-color-smaller-breakpoint.png"), url("header-styling-1.png"), url("header-styling-3.png"), url("middle-background.png");
        background-size: cover, auto, auto, cover;
        
    }
    #box6Mobile > hr {
        width: 160%;
        margin-left: -300px;
        margin-top: 30px;
        opacity: 30%;
        height: 1px;
    }
    #box6Mobile > div > hr {
        width: 160%;
        margin-left: -300px;
        margin-top: 30px;
        opacity: 30%;
    }
    .hiddenOnMobile {
        display: none;
    }
}

@media only screen and (max-width: 508px) {
    .styles > h1 {
        font-size: 13px;
    }
}