#grid-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:5px;
}

#grid-container > div {
    width:100%;
    height:100px;
    display:block;
}

#red {
    background-color: red;
    grid-column: 1 / 3;
}
#blue {
    background-color: blue;
    grid-column: 3 / 5;
}
#green {
    background-color: green;
    grid-column: 1 / 2;
}
#purple {
    background-color: purple;
    grid-column: 2 / 5;
}
#yellow {
    background-color: yellow;
    grid-column: 1 / -1;
}