@font-face {
    font-family: tropical;
    src: url(hpunk.ttf); /* Hawaiian Punk font created by Sharkshock on 1001fonts.com: https://www.1001fonts.com/hawaiian-punk-font.html */
}

body {
    font-family: tropical;
    letter-spacing: 2px;
}
.default {
    color:rgb(33, 117, 8);
}
.blue {
    color: rgb(8, 92, 117);
}
.green {
    color: rgb(0,255,0);
}
.brown {
    color: rgb(232, 143, 0);
}
.pink {
    color: rgb(0, 94, 216);
}
.purple {
    color: rgb(181, 105, 255);
}

.boldText {
    font-weight: bold;
    font-size: 20px;
}

.smallCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.smallCard {
    text-align: center;
    font-size: 75%;
    margin: 10px;
}
.smallCard > img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    border: 10px solid #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 22px;
}

.maxWidthContainer {
    max-width: 1190px;
    margin: auto;
}

.homeHeader {
    text-align: center;
}
.homeContent {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 92%;
    margin: 2% 4%;
}

.largeCardHeader {
    text-align: center;
}
.largeCardHeader > .italics {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.largeCardText {
    font-family: Arial, Helvetica, sans-serif;
}
.largeCardImage {
    max-width: 50%;
    border: 10px solid #FFFFFF;
    margin: 0 25%;
}

@media only screen and (max-width: 480px) {
    .largeCardImage {
        max-width: 90%;
        margin: 0 2.5% 0 2.5%;
    }
}